<html ng-app="Sixth">
<script src="angular.js"></script>
<script>
  var M = angular.module("Sixth", []);

  M.controller("myCtrl", function($scope) {
    var rec = [{
        regNo: 12,
        name: 'Shafeeq',
        marks: 49
      },
      {
        regNo: 13,
        name: 'Nick',
        marks: 6969
      },
      {
        regNo: 14,
        name: 'Roland',
        marks: 69
      }
    ];

    var tempData = [{
      regNo: null,
      name: null,
      marks: null
    }]

    $scope.data = rec;
    $scope.tempData = tempData;

    $scope.edit = function(d){
      //$scope.data[index].name = prompt("Please enter a name");
      d.name = window.prompt("jsdugfu","hfhhfh");
    }

    $scope.add = function(){
      $scope.data.push($scope.tempData);
      $scope.tempData = null;
    }



  });


</script>

<body>
  <span ng-controller="myCtrl">
  <table>
    <tr>
      <td>
        RegNo:
      </td>
      <td>
        <input type="textbox" ng-model="tempData.regNo" />
      </td>
    </tr>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <input type="textbox" ng-model="tempData.name" />
      </td>
    </tr>
    <tr>
      <td>
        Marks:
      </td>
      <td>
        <input type="textbox" ng-model="tempData.marks" />
      </td>
    </tr>
    <tr>
      <td>
        <input type="button" value="add" ng-click="add()"/>
      </td>
    </tr>
  </table>

  <table ng-controller="myCtrl">
    <th>
      RegNo
    </th>
    <th>
      Name
    </th>
    <th>
      Marks
    </th>
    <th>
      Pass/Fail
    </th>
    <tr ng-repeat="d in data">
      <td>
        {{d.regNo}}
      </td>
      <td>
        {{d.name}}
      </td>
      <td>
        {{d.marks}}
      </td>
      <td color="red">
        <b ng-if="d.marks>=70" style="color:green">
          Pass
        </b>
        <b ng-if="d.marks<70" style="color:red">
          Fail
        </b>
      </td>
      <td>
        <input type="button" ng-click="edit(d)" value="edit" />
      </td>
    </tr>

  </table>
</span>


</body>

</html>
